In [1]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import pickle

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn import svm
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [2]:
df = pd.read_csv('PersonalityTest.csv')

In [3]:
df.head()

,Unnamed: 0,gender,age,openness,neuroticism,conscientiousness,agreeableness,extraversion,personality
0,0,0,17,7,4,7,3,2,extraverted
1,1,0,19,4,5,4,6,6,serious
2,2,1,18,7,6,4,5,5,dependable
3,3,1,22,5,6,7,4,3,extraverted
4,4,1,19,7,4,6,5,4,lively

In [4]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [6]:
df.isna().sum()

gender               0
age                  0
openness             0
neuroticism          0
conscientiousness    0
agreeableness        0
extraversion         0
personality          0
dtype: int64

In [7]:
df['personality'].value_counts()

serious        313
extraverted    227
responsible    166
dependable     159
lively         158
Name: personality, dtype: int64

In [8]:
df.describe()

,gender,age,openness,neuroticism,conscientiousness,agreeableness,extraversion
count,1023.000000,1023.000000,1023.000000,1023.000000,1023.000000,1023.000000,1023.000000
mean,0.523949,19.856305,4.970674,4.627566,4.694037,4.836755,4.567937
std,0.499670,2.556576,1.523823,1.709620,1.730704,1.655134,1.555568
min,0.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,18.000000,4.000000,4.000000,3.000000,4.000000,4.000000
50%,1.000000,19.000000,5.000000,5.000000,5.000000,5.000000,5.000000
75%,1.000000,21.000000,6.000000,6.000000,6.000000,6.000000,6.000000
max,1.000000,28.000000,8.000000,9.000000,9.000000,8.000000,8.000000

# FS

In [9]:
X = df.drop(['personality'], axis=1)
y = df['personality']

In [10]:
scaler = MinMaxScaler()
X_sc = scaler.fit_transform(X)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X_sc,y, test_size = 0.4, random_state = 123)
print("The shape of X_train is      ", X_train.shape)
print("The shape of X_test is       ",X_test.shape)
print("The shape of y_train is      ",y_train.shape)
print("The shape of y_test is       ",y_test.shape)

The shape of X_train is       (613, 7)
The shape of X_test is        (410, 7)
The shape of y_train is       (613,)
The shape of y_test is        (410,)

In [12]:
clf = svm.SVC()
clf.fit(X_train, y_train)

SVC()

In [13]:
y_pred = clf.predict(X_test)

In [14]:
print("Accuracy: {:.1f} %".format((accuracy_score(y_test,y_pred))*100))

Accuracy: 37.1 %